<!DOCTYPE html>
<!-- vim: set ts=2 sts=2 sw=2 et indentexpr=: -->
<html>
<head>
  <title>{% block title %}I Read It!{% endblock %}</title>
  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
    </script>
  <link rel="stylesheet" type="text/css" href="/js/ext/jqtouch/themes/css/apple.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />
  <style type="text/css">
    .template { display: none; }
  </style>
  {% block head %}
  {% endblock %}
</head>
<body id="jqt">
  {% block body %}
  {% endblock body %}
</body>
</html>
