{% extends "layout.html" %}
<!-- vim: set ts=2 sts=2 sw=2 et indentexpr=: -->
{% block head %}
  <script type="text/javascript"
    src="/js/ext/jqtouch/jqtouch.js">
    </script>
  <script type="text/javascript"
    src="/js/ext/jqtouch/jqtouch-jquery.js">
    </script>
  <script type="text/javascript"
    src="/js/stdlib.js">
    </script>
  <script type="text/javascript"
    src="/js/readit.js">
    </script>
  <script type="text/javascript">
    $(document).ready(function() {
      document.jqt = new $.jQTouch({});
      document.readit = readit({
        debug: true,
        loginURL: "{{ url_for('login') }}",
        actions: {
        {% for name in actions %}
          "{{ name }}": {
              method: "{{ actions[name].method }}",
              url: "{{ actions[name].url }}" },
        {% endfor %}
        }
      });
      document.readit.fetchReadings();

      $("#addbutton").click(function (event) {
        var $reading = $("#readingform");
        event.preventDefault();
        document.readit.addReading(
          document.readit.createReading({
            title: $reading.find("input[name=title]").val(),
            link: $reading.find("input[name=link]").val()
          }));
      });

      $("#logoutbutton").click(function (event) {
        var r = document.readit;
        if (r.actions["logout"]) {
          event.preventDefault();
          $.ajax({
            url: r.actions["logout"].url,
            type: r.actions["logout"].method,
            success: function (data) {
              document.location.replace("/login");
            }
          });
        }
      });

      $("#refreshbutton").click(function (event) {
        event.preventDefault();
        window.location.reload(true);
      });

      var $source = $("#readinginfo span.title");
      $("#readinginfo .patch").css({
        "color": $source.css("color"),
        "width": "auto",
        "float": "none",
        "text-align": "left"
      });
    });
  </script>
{% endblock %}

{% block body %}
<div id="list" class="active">
  <div class="toolbar">
    <h1>You read these</h1>
    <a id="logoutbutton" href="#" class="button">Logout</a>
  </div>

  <ul class="rounded scroll" id="readinglist">
    <li id="reading" class="arrow template">
      <a href="#readinginfo">
        <span class="title"></span>
      </a>
    </li>
  </ul>
  <a class="whiteButton" href="#addreading">Add a Reading</a>
  <a class="whiteButton" id="refreshbutton" href="#">Refresh</a>
</div>

<div id="readinginfo">
  <div class="toolbar">
    <a href="#" class="back button">Back</a>
    <h1>Reading</h1>
    <a action="remove" href="#" class="remove button">-</a>
  </div>
  <ul class="rounded">
    <li>
      <span style="color:#262626" class="title"></span>
    </li>
    <li>
      <small class="patch">Added on <span class="when"></span></small>
    </li>
    <li class="arrow">
      <a href="" class="link" rel="external"><small class="url patch"></small></a>
    </li>
  </ul>
</div>

<div id="addreading">
  <div class="toolbar">
    <a href="#" class="back button">Back</a>
    <h1>Add Reading</h1>
  </div>
  <form id="readingform">
    <ul class="edit rounded">
      <li><input name="title" type="text" placeholder="Title"/></li>
      <li><input name="link" type="url" placeholder="http://link.to.item"/></li>
    </ul>
    <ul class="individual">
      <li><a href="#list" class="goback">Cancel</a></li>
      <li><a id="addbutton" href="#">Add</a></li>
    </ul>
  </form>
</div>

{% endblock %}

